<h1>Login do Usuário</h1>


<section class="login-area">
    <!-- Imagem -->
    <div>
        <img src="../../assets/earth-globe-icon.png" alt="icon-login">
    </div>    
    <!-- Caixa de Log In -->
    <div class="form-login">
        <p class="text-login">Identifique-se com:</p>

        <section class="name-field">
            <p class="user-name">Nome de Usuário</p>
            <input type="text" name="user-name" value="Digite o seu nome de usuário">    
        </section>
        
        <section class="password-fiel">
            <p class="password">Senha</p>
            <div>
                <input type="text" name="pass-user" value="Digite a sua senha atual">
            </div>
            <a href="" class="forget-pass">Esqueci minha senha</a>    
        </section>
        
    </div>
</section>