<h1>Login do Usuário</h1>


<section class="login-area">
    <!-- Imagem -->
    <div class="image">
        <img src="../../assets/earth-globe-icon.png" alt="icon-login" class="image">
    </div>    
    <!-- Caixa de Log In -->
    <form *ngIf="!isLogged()" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
        
        <p class="text-login">Identifique-se com:</p>

        <section class="name-field">
            <label for="user-name" class="user-name">Nome de Usuário</label>
            <input formControlName="nome" type="text" class="input-name" id="user-name" name="user-name" placeholder="Digite o seu nome de usuário" required>    
        </section>
        
        <section class="password-field">
            <label for="user-pass" class="password">Senha</label>
            <input formControlName="senha" type="password" class="input-pass" id="user-pass" name="pass-user" placeholder="Digite a sua senha atual" required>
            <a href="" class="forget-pass">Esqueci minha senha</a>    
        </section>
        
        <section class="btns">
            <button type="button" (click)="navigate_to_signup_page()" class="btn-signup"><p>Cadastre-se</p></button>
            <button type="submit" (click)="navigate_to_login_page()" class="btn-continue"><p>Continuar</p></button>    
        </section>
        
    </form>
    <app-user-info *ngIf="isLogged()" class="login-area" id="info-login"></app-user-info>
</section>