* {
    margin: 0;
    padding: 0;
}

hr.solid {
    color: #c5c3c3;
}

p {
    font-family: 'RawlineRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    padding: 1% 0% 1% 30%;
}