<div class="title">
    <h1>Cadastro do Usuário</h1>
</div>
<!-- Forms para SignUp --- formGroup => signupForm -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signup">
    <label for="user-name">Nome de usuário</label>
    <input formControlName="nome" type="text" id="user-name" name="user-name" placeholder="Escolha o seu nome de usuário" required>

    <label for="email">Email</label>
    <input formControlName="email" type="email" id="email" name="email" placeholder="Digite o seu email" required>

    <label for="confirm-email">Confirme o seu Email</label>
    <input formControlName="cemail" type="email" id="confirm-email" name="confirm-email" placeholder="Digite novamente o seu email" required>

    <label for="instituicao">Instituição</label>
    <input formControlName="instituicao" type="text" id="instituicao" name="instituicao" placeholder="Digite o nome da sua instituição" required>
    <!-- Select para Cargo -->
    <label for="cargos">Cargo</label>
    <select id="cargos" formControlName="cargo">
        <option value="" selected disabled hidden>Selecione...</option>
        <option value="Estagiário">Estagiário</option>
        <option value="Júnior">Júnior</option>
        <option value="Sênior">Sênior</option>
        <option value="Pleno">Pleno</option>
    </select>

    <label for="senha">Senha</label>
    <input formControlName="senha" type="text" id="senha" placeholder="Escolha uma senha" required>
    
    <div class="mostrar-senha-div">
        <input type="checkbox" id="show-hide-pass" onclick="show_hide()"> 
        <label for="show-hide-pass">Mostrar senha</label>    
    </div>
    
    <label for="confirme-senha">Confirme a sua Senha</label>
    <input formControlName="csenha" type="text" id="confirme-senha" name="confirme-senha" placeholder="Digite novamente a senha escolhida" required>
    
    <div class="check">
        <input type="checkbox" id="check" name="termos" required>
        <label class="termos" for="check">Aceito o <a href="">Termos de Uso e Política de Privacidade</a></label>    
    </div>
    
    
    <div class="btns">
        <button type="button" (click)="navigate_to_login()" class="cancelar">Cancelar</button>
        <button type="submit"  class="continuar">Continuar</button>    
    </div>
    
</form>
