@import url("https://fontlibrary.org//face/rawline");

:root {
    --bluetext: #1351B4;
    --graytext: #555555;
}

body {
    display: flex;
}

.nav {

    display: flex;
    flex-direction: column;
    gap: 5%;
    box-shadow: 0 4px 2px -2px gray;
    padding-top: 1%;

    .nav-top {
        display: flex;
        justify-content: space-between;
        padding-left: 1%;
        padding-right: 5%;
    
        .icon-nav {
            width: 4%;
            height: 4%;
            margin-left: 4%;
        }
        
        .links-acesso {
            display: flex;
            gap: 1em;
            
            a {
                font-family: 'RawlineRegular';
                font-style: normal;
                text-decoration: none;
                color: #1351B4;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                color: #407ad8;
                text-decoration: underline;
            }
        }
    }
    
    .nav-bottom {
    
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1% 5% 0% 5%;
    
        .icon-and-title {

            .title{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .title-header {
                    margin: 0px;
                    font-family: 'RawlineRegular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24.19px;
                    line-height: 33px;
                    color: #1351B4;
                }

                .subtitle-header {
                    margin: 2% 0% 15% 0%;
                    font-family: 'RawlineRegular';
                    font-style: normal;
                    font-size: 14px;
                    line-height: 19px;
                    color: #555555;
                }
            }
        }
        .search-div{
            margin-right: 21%;
            width: 10%;
            .search {
                padding: 10%;
                width: 290%;
                border-radius: 0.7vw;
                border-style: none;
                font-family: 'RawlineRegular';
                font-style: italic;
                background-color: #f0f0f0;
            }
        }
    }
    
    
    
}

